header {
  background: white;
  padding: 1rem 2rem;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-section h2 {
  margin: 0;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15%;
  background-color: rgb(255, 246, 231);
}

.avatar {
  background: #000;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  
}
.logout-btn{
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 15%;
  position: absolute;
  padding: 0.75rem 0.5rem 0.75rem 0.5rem ;
  // padding-left: 0.75rem;
  // padding-right: 0.75rem ;
}
