<div class="login-container">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 class="header">Meeting Room Management</h1>

    <div class="welcome-message">
      Welcome to <strong>RoomBook</strong>. Sign in to manage your meeting
      rooms.
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Enter Email"
      />

      @if (email.invalid && (email.touched || email.dirty)) {
      <div>
        @if (email.errors?.['required']) {
        <small class="error-message">Email is required</small>
        } @if (email.errors?.['email']) {
        <small class="error-message">Please enter a valid email</small>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Enter your password"
      />

      @if (password.invalid && (password.touched || password.dirty)) {
      <div>
        @if (password.errors?.['required']) {
        <small class="error-message">Password is required</small>
        } @if (password.errors?.['minlength']) {
        <small class="error-message"
          >Password must be at least 6 characters</small
        >
        }
      </div>
      }
    </div>

    <button type="submit" [disabled]="loginForm.invalid || isSubmitting">
      @if (isSubmitting) {
      <i class="pi pi-spinner pi-spin"></i> Logging in... } @else { Log In }
    </button>
  </form>
</div>
