<div class="room-card">

  <div class="status" [ngClass]="{
      available: roomData.status === 'Available',
      inuse: roomData.status === 'In Use'
    }">
    {{ roomData.status }}
  </div>

  <div class="image-wrapper">
    <img src="meetingo.jpg" alt="Room Image" />
  </div>
  <button>Book Now</button>
  <div class="room-content">
    <h3 class="room-name">{{ roomData.name }}</h3>
    <p class="room-location">
      <i class="fa-solid fa-location-dot"></i> {{ roomData.location }}
    </p>

    <div class="room-details">
      <p><strong>Room No:</strong> {{ roomData.roomNumber }}</p>
      <p><strong>Capacity:</strong> {{ roomData.capacity }} people</p>
      <p><strong>Floor:</strong> {{ roomData.floor }}</p>
    </div>

    <div class="amenities">
      <strong>Amenities:</strong>
      <ul>
        @for (amenity of roomData.amenities; track roomData.amenities) {
        <li>{{ amenity }}</li>
        }

      </ul>
    </div>
  </div>
</div>